<h2>Tareas</h2>
<hr>
<span>{{restantes()}} de {{tareas.length}}</span> [ <a class="text-danger" href="" ng-click="eliminar()">eliminar</a> ]
<ul class="unstyled">
    <li ng-repeat="tarea in tareas">
        <input type="checkbox" ng-model="tarea.hecho">
        <span class="hecho-{{tarea.hecho}}">{{tarea.texto}}</span>
    </li>
</ul>
<form ng-submit="agregarTarea()">
    <input type="texto" size="30" placeholder="Agregar una nueva tarea" ng-model="textoNuevaTarea">
    <button class="btn btn-primary" type="submit">Agregar</button>
</form>
