<h2>Listado de Productos</h2>
<hr>
<button type="button" class="btn btn-primary" ng-click="agregarProducto()">Nuevo Producto</button>
<div class="panel panel-primary" style="margin-top: 20px;">
    <div class="panel-heading">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" class="form-control" placeholder="Buscar producto" ng-model="buscar.materno">
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>
                        <a href="" ng-click="ordenarPor('nombre')">Nombre</a>
                        <span class="caret" style="cursor: pointer" ng-click="ordenarPor('-nombre')"></span>
                    </th>
                    <th>Precio</th>
                    <th>Categoria</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="producto in productos | orderBy:ordenSeleccionado | filter:buscar">
                    <td><img src="{{producto.image}}" class="img-responsive"></td>
                    <td>{{producto.name | uppercase}}</td>
                    <td>{{producto.price | currency}}</td>
                    <td>{{producto.category}}</td>
                    <td>{{producto.description}}</td>
                    <td><button type="button" class="btn btn-info btn-xs" ng-click="editarProducto(producto)"><i class="glyphicon glyphicon-pencil"></i></button>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="eliminarProducto(producto)"><i class="glyphicon glyphicon-remove"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
